<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <div ng-repeat="data in dataset.results">
    <div class="person" ng-class="{highlight: toHighlight(data.suspend)}">
      <div class="row">
        <div class="col-xs-6 col-md-6"><strong>Title:</strong> {{data.title}}</div>
        <div class="col-xs-6 col-md-6"><strong>Id:</strong> {{data.id}}</div> 
        <div class="col-xs-6 col-md-6"><strong>Surname:</strong> {{data.surname}}</div>
        <div class="col-xs-6 col-md-6"><strong>Name:</strong> {{data.name}}</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12"><strong>Job Title:</strong> {{data.jobTitle}}</div>
        <div class="col-xs-12 col-md-12"><strong>Suspend:</strong> {{data.suspend}}</div>
      </div>
      <div class="row" ng-repeat="link in data.links">
        <div class="col-xs-12 col-md-12"><strong>Link</strong></div>
        <div class="col-xs-3 col-md-3 col-md-offset-1"><strong>Title:</strong> {{link.title}}</div>
        <div class="col-xs-3 col-md-3 col-md-offset-1"><strong>Rel:</strong> {{link.rel}}</div>
        <div class="col-xs-3 col-md-3 col-md-offset-1"><a href="{{link.href}}" target="_blank">Click me!</a></div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
