<div class="row marketing">

  <div class="row options-container">
    <div class="col-xs-3 col-md-3">
      Show options: 
    </div>
    <div class="col-xs-3 col-md-3">
      <a class="btn btn-primary" style="width: 100%;" href="" ng-click="view(false)">All</a>
    </div>
    <div class="col-xs-3 col-md-3">
      <a class="btn btn-primary" style="width: 100%;" href="" ng-click="viewFirstNelements(10)">First 10 elements</a>
    </div>
    <div class="col-xs-3 col-md-3">
      <a class="btn btn-primary" style="width: 100%;" href="" ng-click="view(true)">Reduced layout</a>
    </div>
  </div>

  <div ng-repeat="data in dataset">
    <div class="person" ng-class="{highlight: toHighlight(data.suspend), female: isFemale(data.title)}">
      <a href="" data-toggle="modal" data-target="#myModal-{{data.id}}">
        <div class="row first-item">
            <div class="col-xs-4 col-md-4"><strong>Title:</strong> {{data.title}}</div>
            <div class="col-xs-4 col-md-4"><strong>Surname:</strong> {{data.surname}}</div>
            <div class="col-xs-4 col-md-4"><strong>Name:</strong> {{data.name}}</div>
        </div>
      </a>
      <div class="row item" ng-hide="isReducedView()">
        <div class="col-xs-12 col-md-12"><strong>Job Title:</strong> {{data.jobTitle}}</div>
      </div>
      <div class="row item" ng-hide="isReducedView()">
        <div class="col-xs-4 col-md-4"><strong>Id:</strong> {{data.id}}</div> 
        <div class="col-xs-4 col-md-4"><strong>Suspend:</strong> {{data.suspend}}</div>
      </div>
      <div class="row item" ng-hide="isReducedView()" ng-repeat="link in data.links">
        <div class="col-xs-12 col-md-12"><strong>Link</strong></div>
        <div class="col-xs-3 col-md-3 col-md-offset-1"><strong>Title:</strong> {{link.title}}</div>
        <div class="col-xs-3 col-md-3 col-md-offset-1"><strong>Rel:</strong> {{link.rel}}</div>
        <div class="col-xs-3 col-md-3 col-md-offset-1"><a href="{{link.href}}">Click me!</a></div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal-{{data.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">User details</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-4 col-md-4">
                <img ng-src="http://www.dodonline.co.uk/photos/{{data.id}}.jpg" class="user-picture">
              </div>
              <div class="col-xs-8 col-md-8">
                <h4>{{data.title}}</h4>
                <h3>{{data.name}} {{data.surname}}</h3>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

